<div class="row">
  <div class="col-md-offset-1 col-md-10">
    <h3>Grid size: {{input type="number" value=xAxis}} X {{input type="number" value=yAxis }}</h3>
    <h3>Interval length: {{input type="number" value=interval}}</h3>
  </div>
</div>
