<div class="container">
  {{ grid-options xAxis=xAxis yAxis=yAxis interval=interval }}


  {{#each yAxisArray}}
  <div>
    {{#each xAxisArray}}
      {{ grid-square interval=interval }}
    {{/each}}
  </div>
  {{/each}}
</div>
